<!DOCTYPE html>
<html>
  <head>
    <title>Lax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property "og:title" 
      content="Lax" />
    <meta property="og:description"
      content="A full-stack clone of the live-chat application Slack. " />
    <%# <%= favicon_link_tag 'favicon.ico' %> %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
